<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My P o r t o f o l i o</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/all.css' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
    body{
        background:url({% static 'images/background2.jpg' %});
        background-repeat: no-repeat;
        background-size: 1300px 1400px;
        background-position: center;
        background-attachment: fixed;
    }

    div.a{
       text-align: center;
       color: white;
       /*text-shadow: 2px 2px 4px #000000;*/
       text-shadow: 3px 3px 20px #000000;

    }

    #profil{
       text-align: center;
       color: rgb(8, 8, 8);
       /*text-shadow: 1px 1px 2px black, 0 0 40px rgb(255, 255, 255), 0 0 5px rgb(68, 68, 70);*/
       text-shadow: 0 0 3px #FF0000, 0 0 5px rgb(16, 16, 24);
       font-size: 40px;

    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
    }


</style>
</head>

<body>

    <br>

    <div id="profil" >
        <p><b> M y  P o r t o f o l i o</b></p>


    </div>
    <div class="b">
        <ul class="nav justify-content-center">
          <li class="nav-item">
              <a class="nav-link" href="/"><button type="button" class="btn btn-outline-dark btn-lg">My Profile</button></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/my_resume"><button type="button" class="btn btn-outline-dark btn-lg">My Resume</button></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/my_portofolio"><button type="button" class="btn btn-outline-dark btn-lg">My Portofolio</button></a>
          </li>

        </ul>
        </div>
    <br>
    <div >
        <img src="{% static 'images/fotoprofil2.jpg' %}" class="rounded-circle" alt="fotoprofilku" width="300" height="212" >
    </div>
    <br><br>

    <div class="a">


    </div>
    <br>
    <br>

    <div class="a" >
        <h2>On Going Project :</h2><br>
        <h3>Web Aplikasi Akuntansi </h3>

    </div>
    <br>
    <div>
        <img src="{% static 'images/scshot1.png' %}" alt="scshot1" width="700" height="379"><br>
        <img src="{% static 'images/scshot2.png' %}" alt="scshot1" width="700" height="379">
    </div>


    <br>
    <br>
    <br>

</body>
</html>