<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form_result</title>

</head>
<body>

{% extends "[nama_app]/template/layout/base.html" %}
{% block title %} Pesan dari {{ name }} {% endblock %}
{% block content %}

<textarea readonly rows="5" class="form-control">&quot;{{message}}&quot;-
{{name}}
    by {{ email }}
</textarea>
{% endblock %}
{% block footer %}
    <p> &copy; {{name}} </p>
{% endblock %}

</body>
</html>